div.help {
    font-family:'Helvetica';
    background-color: #EDF5FF;
    padding:5px;
    width:320px;
    height:250px;
    border:1px solid #AFAFAF;
    font-size:14px;
    overflow:auto;
    -moz-border-radius:5px;
}

div.help h3 {
    background-image: url("img/titlebarBackground.png");
    padding:3px;
    margin-top:0px;
    -moz-border-radius:3px;
    color:#fff;
    font-size:14px;
}

div.help p {
    text-align:justify;
}