@import url('help.css');
@import url('oscar-jqui.css');

body {
	font-family: "Arial", "Helvetica", "Verdana", "sans-serif" !important;
	font-size: 11px !important;
}

.highlighted {
	background-color: #06C;
	color: white;
	display: table;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	border-left: 1px dotted white;
	border-right: 1px dotted white;
	border-top: 1px dotted white;
	white-space: nowrap;
	width: 500%;
	height: 15px;
	line-height: 10px;
}

.unhighlighted {
	display: table;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left: 3px;
	white-space: nowrap;
	width: 500%;
	height: 15px;
	line-height: 10px;
}

.isDisabled {
	display: table;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left: 3px;
	white-space: nowrap;
	width: 500%;
	height: 15px;
	line-height: 10px;
	color: #D0D0D0;
}

.filter-container {
	position: relative;
	height: 50px;
}

.filter-container-left-element {
	position: absolute;
	left: 0;
	width: 85%;
}

.filter-container-right-element {
	position: absolute;
	right: 0;
	width: 15%;
	text-align: left;
}

.mict_input_default {
	color: #000;
	font-style: italic;
	border: 1px solid;
}

.mict_input_inactive {
	color: #bdbdbd;
}

.oscar_Gui_MultiItemChooserTable_autoComplete {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.oscar_Gui_MultiItemChooserTable_autocomplete_label {
	padding-right: 5px;
}

input.oscar_Gui_MultiItemChooserTable_autocomplete_input {
	width: 75% !important;
}

.oscar_Gui_MultiItemChooserTable_clearFilter {
	background-image: url("img/toolbarSprites.png");
	background-position: -297px -32px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	float: right;
	width: 15px;
	height: 15px;
	margin-top: 2px;
}

.oscar_Gui_MultiItemChooserTable_clearFilter_disabled {
	background-image: url("img/toolbarSprites.png");
	background-position: -312px -32px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	float: right;
	width: 15px;
	height: 15px;
	margin-top: 2px;
}

.oscar_Gui_MultiItemChooserTable_resetTable {
	background-image: url("img/toolbarSprites.png");
	background-position: -328px -32px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.oscar_Gui_MultiItemChooserTable_resetTable_disabled {
	background-image: url("img/toolbarSprites.png");
	background-position: -360px -32px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.oscar_Gui_MultiDataExtractionTable_dataConnection_label {
	float: left;
}

.oscar_Gui_MultiDataExtractionTable_dataConnection_radio {
	float: left;
}

.oscar_Gui_MultiDataExtractionChooser_radioPanel {
	float: left;
	height: 300px;
	overflow: auto;
	border: 1px solid #D2D2D2;
	width: 180px;
	padding: 20px;
	display: block;
	margin: 10px;
}

.oscar_Gui_MultiDataExtractionChooser_dataConnLabel {
	display: block;
	margin: 20px 0 0 20px;
	text-align: left;
	width: 180px;
}

.oscar_Gui_MultiDataExtractionChooser_dataConnItem {
	display: inline-block;
	margin-bottom: 5px;
	width: 100%;
}

.oscar_Gui_MultiItemChooserTable_checkAll_Panel {
	padding-bottom: 15px;
}

.oscar_Gui_MultiItemChooserTable_checkAll {
	background-repeat: no-repeat;
	display: block;
	margin-left: 14px;
	float: left;
	height: 16px;
	width: 16px;
}

.oscar_Gui_MultiItemChooserTable_checkAll_none {
	background-image: url("img/selection_none.png");
}

.oscar_Gui_MultiItemChooserTable_checkAll_partial {
	background-image: url("img/selection_partial.png");
}

.oscar_Gui_MultiItemChooserTable_checkAll_all {
	background-image: url("img/selection_all.png");
}

.oscar_Gui_MultiDataExtractionTable__MultiDataItemChooser {
	float: left;
	margin-left: 25px;
	margin-top: 25px;
}

.oscar_Gui_MultiItemChooserTable_checkAll_label {
	margin: 10px;
}

div.olMap {
	z-index: 0;
	padding: 0 !important;
	margin: 0 !important;
	cursor: default;
}

div.olMapViewport {
	text-align: left;
}

div.olLayerDiv {
	-moz-user-select: none;
}

.olLayerGoogleCopyright {
	left: 2px;
	bottom: 2px;
}

.olLayerGooglePoweredBy {
	left: 2px;
	bottom: 15px;
}

.olControlAttribution {
	font-size: smaller;
	right: 3px;
	bottom: 4.5em;
	position: absolute;
	display: block;
}

.olControlScale {
	right: 3px;
	bottom: 3em;
	display: block;
	position: absolute;
	font-size: smaller;
}

.olControlScaleLine {
	position: absolute;
	left: 3px;
	bottom: 70px;
	font-size: xx-small;
}

.olControlScaleLineBottom {
	border: solid 2px black;
	border-bottom: none;
	margin-top: -2px;
	text-align: center;
}

.olControlScaleLineTop {
	border: solid 2px black;
	border-top: none;
	text-align: center;
}

.olControlPermalink {
	right: 3px;
	bottom: 1.5em;
	display: block;
	position: absolute;
	font-size: smaller;
}

div.olControlMousePosition {
	bottom: 50px;
	left: 3px;
	display: block;
	position: absolute;
	font-family: Arial;
	font-size: smaller;
}

.olLayerGeoRSSDescription {
	float: left;
	width: 100%;
	overflow: auto;
	font-size: 1.0em;
}

.olLayerGeoRSSClose {
	float: right;
	color: gray;
	font-size: 1.2em;
	margin-right: 6px;
	font-family: sans-serif;
}

.olLayerGeoRSSTitle {
	float: left;
	font-size: 1.2em;
}

.olPopupContent {
	padding: 5px;
	overflow: auto;
}

.olControlNavToolbar {
	width: 0;
	height: 0;
}

.olControlNavToolbar div {
	display: block;
	width: 28px;
	height: 28px;
	top: 300px;
	left: 6px;
	position: relative;
}

.olControlNavigationHistory {
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
}

.olControlNavToolbar .olControlNavigationItemActive {
	background-image: url("img/panning-hand-on.png");
	background-repeat: no-repeat;
	border: 1px solid black;
}

.olControlNavToolbar .olControlNavigationItemInactive {
	background-image: url("img/panning-hand-off.png");
	background-repeat: no-repeat;
}

.olControlNavToolbar .olControlZoomBoxItemActive {
	background-image: url("img/drag-rectangle-on.png");
	background-color: orange;
	background-repeat: no-repeat;
}

.olControlNavToolbar .olControlZoomBoxItemInactive {
	background-image: url("img/drag-rectangle-off.png");
	background-repeat: no-repeat;
}

.olControlEditingToolbar {
	float: right;
	right: 0;
	height: 30px;
	width: 200px;
}

.olControlEditingToolbar div {
	background-image: url("img/editing_tool_bar.png");
	background-repeat: no-repeat;
	float: right;
	width: 24px;
	height: 24px;
	margin: 5px;
}

.olControlEditingToolbar .olControlNavigationItemActive {
	background-position: -103px -23px;
}

.olControlEditingToolbar .olControlNavigationItemInactive {
	background-position: -103px -0px;
}

.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
	background-position: -77px -23px;
}

.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
	background-position: -77px -0px;
}

.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
	background-position: -51px 0;
}

.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
	background-position: -51px -23px;
}

.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
	background-position: -26px 0;
}

.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
	background-position: -26px -23px;
}

.olControlSaveFeaturesItemActive {
	background-image: url(img/save_features_on.png);
	background-repeat: no-repeat;
	background-position: 0 1px;
}

.olControlSaveFeaturesItemInactive {
	background-image: url(img/save_features_off.png);
	background-repeat: no-repeat;
	background-position: 0 1px;
}

.olHandlerBoxZoomBox {
	border: 2px solid red;
	position: absolute;
	background-color: white;
	opacity: .50;
	font-size: 1px;
	filter: alpha(opacity =   50);
}

.olHandlerBoxSelectFeature {
	border: 2px solid blue;
	position: absolute;
	background-color: white;
	opacity: .50;
	font-size: 1px;
	filter: alpha(opacity =   50);
}

.olControlPanPanel {
	top: 10px;
	left: 5px;
}

.olControlPanPanel div {
	background-image: url(img/pan-panel.png);
	height: 18px;
	width: 18px;
	cursor: pointer;
	position: absolute;
}

.olControlPanPanel .olControlPanNorthItemInactive {
	top: 0;
	left: 9px;
	background-position: 0 0;
}

.olControlPanPanel .olControlPanSouthItemInactive {
	top: 36px;
	left: 9px;
	background-position: 18px 0;
}

.olControlPanPanel .olControlPanWestItemInactive {
	position: absolute;
	top: 18px;
	left: 0;
	background-position: 0 18px;
}

.olControlPanPanel .olControlPanEastItemInactive {
	top: 18px;
	left: 18px;
	background-position: 18px 18px;
}

.olControlZoomPanel {
	top: 71px;
	left: 14px;
}

.olControlZoomPanel div {
	background-image: url(img/zoom-panel.png);
	position: absolute;
	height: 18px;
	width: 18px;
	cursor: pointer;
}

.olControlZoomPanel .olControlZoomInItemInactive {
	top: 0;
	left: 0;
	background-position: 0 0;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
	top: 18px;
	left: 0;
	background-position: 0 -18px;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
	top: 36px;
	left: 0;
	background-position: 0 18px;
}

.olPopupCloseBox {
	background: url("img/close.png") no-repeat;
	cursor: pointer;
}

.olFramedCloudPopupContent {
	padding: 5px;
	overflow: auto;
}

.olControlNoSelect {
	-moz-user-select: none;
}

.olCursorWait {
	cursor: wait;
}

.olDragDown {
	cursor: move;
}

.olDrawBox {
	cursor: crosshair;
}

.olControlDragFeatureOver {
	cursor: move;
}

.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
	cursor: -moz-grabbing;
}

.oscarControlLoadingBar {
	width: 150px;
	height: 18px;
	background-image: url('img/loading-bar.gif');
	background-repeat: no-repeat;
	position: absolute;
	right: 3px;
	top: 3px;
}

.oscarControlOverviewMapContainer {
	position: absolute;
	bottom: -2px;
	right: -2px;
}

.oscarControlOverviewMapElement {
	padding: 5px 5px 5px 5px;
	overflow: hidden;
	background: #fff;
	border: 2px solid #afc7db;
	-moz-border-radius: 1em 0 0 0;
}

.oscarControlOverviewMapMinimizeButton {
	position: absolute !important;
	bottom: 0;
	right: 0;
	background: url('img/overviewWindow_collapse.png');
}

.oscarControlOverviewMapMaximizeButton {
	position: absolute !important;
	bottom: 0;
	right: 0;
	background: url('img/overviewWindow_expand.png');
}

.oscarControlOverviewMapExtentRectangle {
	overflow: hidden;
	background-image: url("img/blank.gif");
	cursor: move;
	border: 2px dotted red;
}

.oscarControlOverviewMapRectReplacement {
	overflow: hidden;
	cursor: move;
	background-image: url("img/overview_replacement.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.oscarControlToolBar {
	position: relative;
	right: 10px;
	top: 10px;
	float: right;
	cursor: pointer;
}

.oscarControlToolBar div {
	float: right;
}

.oscarControlToolBar .toolBarBookendLeft {
	background-image: url('img/toolbarSprites.png');
	background-position: 0 -32px;
	width: 17px;
	height: 32px;
	float: left;
}

.oscarControlToolBar .toolBarBookendRight {
	background-image: url('img/toolbarSprites.png');
	background-position: -51px -32px;
	width: 16px;
	height: 32px;
	float: left;
}

.oscarControlToolBar .oscarControlPreviousViewItemActive,
	.oscarControlToolBar .oscarControlPreviousViewItemInactive {
	background-image: url('img/toolbarSprites.png');
	background-position: -17px -32px;
	width: 17px !important;
	height: 32px;
	float: left;
}

.oscarControlToolBar .oscarControlMeasureItemInactive {
	background-image: url('img/toolbarSprites.png');
	background-position: -99px -32px;
	height: 32px;
	width: 30px;
	float: left;
}

.oscarControlToolBar .oscarControlMeasureItemActive {
	background-image: url('img/toolbarSprites.png');
	background-position: -189px -32px;
	height: 32px !important;
	width: 30px !important;
	float: left;
}

.oscarControlToolBar .oscarControlDataExtractorItemInactive {
	background-image: url('img/toolbarSprites.png');
	background-position: -159px -32px;
	height: 32px;
	width: 30px;
	float: left;
}

.oscarControlToolBar .oscarControlDataExtractorItemActive {
	background-image: url('img/toolbarSprites.png');
	background-position: -249px -32px;
	height: 32px;
	width: 30px;
	float: left;
}

.oscarControlToolBar .oscarControlSelectItemInactive {
	background-image: url('img/toolbarSprites.png');
	background-position: -129px -32px;
	height: 32px;
	width: 30px;
	float: left;
}

.oscarControlToolBar .oscarControlSelectItemActive {
	background-image: url('img/toolbarSprites.png');
	background-position: -219px -32px;
	height: 32px;
	width: 30px;
	float: left;
}

.subMenu {
	width: 15px;
	height: 32px;
	background-image: url('img/toolbarSprites.png');
	background-position: top right;
	position: absolute;
}

.subMenuBookEnd {
	width: 4px;
	height: 32px;
	background-image: url('img/toolbarSprites.png');
	background-position: 0 0;
	position: absolute;
	left: -4px;
	float: left;
}

.subTool {
	display: block;
	background-image: url("img/toolbarSprites.png");
	width: 26px;
	height: 32px;
	float: left !important;
	margin-right: 2px;
}

.subTool.polygon.toolActive {
	background-position: -130px -64px;
}

.subTool.polygon.toolInactive {
	background-position: -26px -64px;
}

.subTool.line.toolActive {
	background-position: -104px -64px;
}

.subTool.line.toolInactive {
	background-position: 0 -64px;
}

.subTool.point.toolActive {
	background-position: -156px -64px;
}

.subTool.point.toolInactive {
	background-position: -52px -64px;
}

.subTool.range.toolActive {
	background-position: -182px -64px;
}

.subTool.range.toolInactive {
	background-position: -78px -64px;
}

.rangeSelectItemInactive {
	display: block;
	background-image: url("img/toolbarSprites.png");
	width: 26px;
	height: 32px;
	margin-right: 2px;
	background-position: -78px -64px;
}

.rangeSelectItemActive {
	display: block;
	background-image: url("img/toolbarSprites.png");
	width: 26px;
	height: 32px;
	margin-right: 2px;
	background-position: -182px -64px;
}

.wfsGrid {
	width: auto;
	height: 85%;
	overflow: auto;
	-moz-border-radius: 5px;
	padding: 5px;
}

#permalinkPanel.yui-panel {
	border: none;
	padding: 6px;
	background-color: #bbb;
}

#permalinkPanel.yui-panel .container-close {
	position: absolute;
	top: 3px;
	right: 5px;
	_right: 3px;
}

div#MapInformationDlg div.hd {
	background: url(img/titlebarBackground.png) repeat-x;
	font-weight: bold;
	color: #fff;
}

div#MapInformationDlg .bd, div#MapInformationDlg .ft {
	background: #D8D4C6;
}

.metadataConstraint {
	height: 450px;
	overflow: hidden;
}

.Metadata_ServicePanel {
	float: left;
	width: 45%;
	height: 90%;
	overflow: auto;
	padding: 10px;
	border: 1px solid black;
	background: #fff;
}

.Metadata_MetadataPanel {
	float: right;
	width: 45%;
	height: 90%;
	overflow: auto;
	border: 1px solid black;
	background: #fff;
	padding: 10px;
	font-size: 12px;
}

.md_label {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	display: block;
}

#md_abstract_panel, #md_keywords_panel, #md_resources_panel {
	margin-bottom: 5px;
}

.serviceContactInfoTable {
	width: 100%;
}

.serviceContactInfoTable caption {
	background: #b7ab83;
	font-weight: bold;
	font-size: 14px;
}

.serviceContactInfoTable tr td {
	font-size: 12px;
	vertical-align: top;
}

.oscar_Gui_ServicePanel_collapsiblePanel,
	.oscar_Gui_CollapsiblePanel_collapsiblePanel {
	background: transparent;
	margin-bottom: 3px;
}

.oscar_Gui_ServicePanel_contentPanel {
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.oscar_Gui_ServicePanel_headerPanel,
	.oscar_Gui_CollapsiblePanel_headerPanel {
	background-color: #D8D4C6;
	padding: 5px;
	-moz-border-radius: 4px;
}

.oscar_Gui_ServicePanel_headerText,
	.oscar_Gui_CollapsiblePanel_headerText {
	text-indent: 15px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.contentOpen {
	background-image: url('img/content_collapse.png');
	background-repeat: no-repeat;
}

.contentClosed {
	background-image: url('img/content_expand.png');
	background-repeat: no-repeat;
}

.oscar_Gui_ServicePanel_contentPanel {
	background: transparent;
}

.oscar_Gui_CollapsiblePanel_collapsiblePanel {
	background: transparent;
}

.oscar_Gui_CollapsiblePanel_expandable {
	float: left;
}

.oscar_Gui_CollapsiblePanel_contentPanel {
	background: #f4ecd2;
	padding: 5px;
}

.identifier {
	text-decoration: underline;
	cursor: pointer;
	font-size: 12px;
}

.extraction_panel {
	margin-top: 5px;
	margin-bottom: 5px;
}

.extraction_label {
	font-weight: bold;
	margin-bottom: 3px;
	-moz-border-radius: 5px;
}

.extraction_crs_list {
	width: 100%;
	margin-top: 5px;
}

.extraction_select {
	width: 100%;
}

.goToExtent {
	background-image: url("img/toolbarSprites.png");
	background-position: -345px -32px;
	width: 16px;
	height: 16px;
}

.panelSectionContainer {
	margin-bottom: 5px;
	border: 1px solid #afafaf;
	padding: 3px;
	-moz-border-radius: 3px;
}

div.loadingBar {
	text-align: right;
	width: 200px;
	height: 22px;
	-moz-border-radius: 5px;
	position: relative;
	bottom: 0;
	float: right;
	display: none;
	font-style: italic;
	color: #00f;
}

.yui-skin-sam .yui-navset .yui-nav li.disabled {
	opacity: .5;
}

.yui-skin-sam .yui-navset .yui-nav li.disabled a, .yui-skin-sam .yui-navset .yui-nav li.disabled a:hover
	{
	background: #D8D8D8 url(sprite.png) repeat-x scroll 0 50%;
	cursor: default;
}

.oscarThemeSwitcherWidget {
	position: absolute;
	top: 70px;
	right: 0;
}

.oscarThemeSwitcher {
	background: transparent;
	background-color: #d8d4c6;
}

.themeHover {
	background-color: #00f;
	color: #fff;
}

.themeMenu {
	display: none;
	position: absolute;
	top: 0;
	background-color: #fff;
	overflow: visible;
	padding: 0;
	border: 1px solid black;
}

.themeSwitcherActiveTheme {
	text-indent: 3px;
	display: inline-block;
}

.themeSpriteDropdown {
	background-image: url("img/toolbarSprites.png");
	background-position: -279px -64px;
	background-repeat: no-repeat;
	width: 17px;
	height: 17px;
	display: inline-block;
}

.md_layers {
	background-color: #fff;
	height: 330px;
	width: 200px;
	overflow: auto;
	border: 1px solid black;
}

.md_abstract {
	background-color: #eee;
	border: 1px solid #bbb;
	height: 150px;
	width: 300px;
	padding: 2px 2px 2px 2px;
	overflow: auto;
}

div.metaDataLayerActive {
	background-color: #6285a3;
	padding: 5px 5px 5px 5px;
	color: #fff;
}

div.metaDataLayerInactive {
	background-color: #fff;
	padding: 5px 5px 5px 5px;
}

div.md_loadingActive {
	background-image: url("img/loading.gif");
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
}

div.md_loadingInactive {
	width: 35px;
	height: 35px;
}

.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav
	{
	border-color: #345d91;
}

.yui-skin-sam .yui-panel .hd, .yui-skin-sam .yui-navset .yui-nav .selected a,
	.yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover
	{
	background: url(img/titlebarBackground.png) repeat-x;
	color: white;
}

.yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft {
	background: #D8D4C6;
}

#oscarext_container.oscarControlToolBar {
	border: 0;
}

#oscarLayout {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-spacing: 0;
	border-padding: 0;
}

#oscarMapContainer {
	width: 100%;
	height: 100%;
}

td#oscarLayoutFooterContainer {
	background-color: #00f;
	height: 40px;
}

#oscarInfoContainer {
	visibility: visible;
	height: 100%;
}

.oscarInfo {
	float: left;
	font-size: 10px;
	font-family: Helvetica;
	min-width: 180px;
	height: 100%;
	border-right: 1px solid #aaa;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background-color: #ace;
}

.oscarViewThemeNormal, .oscarViewThemeActive {
	height: 30px;
	width: 30px;
	float: left;
}

.oscarViewThemeNormal {
	background-image: url("img/view_off.png");
}

.oscarViewThemeActive {
	background-image: url("img/view_on.png");
}

.oscarControlThemeManager {
	position: absolute;
}

.oscarGuiThemeToggleButton {
	width: 20px;
	height: 20px;
	border: 1px dashed #000;
}

.oscarControlPermalink {
	position: absolute;
	right: 10px;
}

.panZoomPointer {
	cursor: pointer;
}

.checked {
	background-image: url("img/selection_all.png");
	background-repeat: no-repeat;
	text-indent: 18px;
}

.unchecked {
	background-image: url("img/selection_none.png");
	background-repeat: no-repeat;
	text-indent: 18px;
}

.o-widget {
	position: relative;
	background: url('img/layerToggleBG.png');
	width: 300px;
	height: 300px;
	padding-top: 33px;
	border: 1px solid white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: right:1px;
}

.o-widget .handle {
	height: 33px;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	white-space: nowrap;
	overflow: hidden;
	cursor: move;
	background: url(img/titlebarBackground.png) repeat-x;
}

.panelTitle {
	line-height: 30px;
	position: absolute;
	left: 35px;
}

.panelTitleText {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.oIcon {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
}

.o-widget .content {
	width: 100%;
	height: 100%;
}

.minMax {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 3px;
	cursor: pointer;
	float: right;
}

.closeBox {
	background-image: url('img/content_close.png');
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 3px;
	cursor: pointer;
	float: right;
}

.small {
	width: 250px !important;
	height: 33px !important;
	padding-top: 0;
}

.oscarControlLayerToggle {
	position: absolute !important;
	top: 10px;
	right: 150px;
}

.oscarControlLayerToggle.o-widget {
	width: 250px;
	height: 150px;
	border: 1px solid black;
}

.LayersIcon {
	background: url('img/layerIcon.png');
	background-repeat: no-repeat;
}

.content .serviceLayer {
	white-space: nowrap;
	display: block;
}

.content .serviceLayerLabel {
	font-size: 11px;
	color: #fff;
	font-weight: bold;
}

.oscarControlThemeSwitcher.o-widget {
	position: absolute !important;
	top: 10px;
	left: 75px;
	height: 150px;
	width: 250px;
	border: 1px solid black;
}

.oscarControlThemeSwitcher .handle {
	overflow: visible !important;
}

.oscarControlThemeSwitcher .ThemesIcon {
	background: url('img/themeIcon.png') no-repeat;
	background-repeat: no-repeat;
	cursor: move;
}

.oscarControlThemeSwitcher .themeContainer {
	padding: 5px 5px 5px 5px;
	width: 90%;
}

.oscarControlThemeSwitcher .themePanelContainer {
	width: 100%;
	height: 20px;
	padding: 3px;
	cursor: pointer;
	white-space: nowrap;
}

.oscarControlThemeSwitcher .themePanelContainer.active {
	background-color: #afc7db;
	-moz-border-radius: 5px;
}

.oscarControlThemeSwitcher .themeTitleText {
	color: #fff;
	font-weight: bold;
}

.oscarControlThemeSwitcher .activationBox {
	width: 16px;
	height: 16px;
	float: right;
}

.oscarControlThemeSwitcher .activationBox.active {
	background-image: url("img/selection_all.png") !important;
}

.oscarControlThemeSwitcher .activationBox.inactive {
	background-image: url("img/selection_none.png");
}

.KeywordVocabularyTableAddRow {
	background-image: url('img/add.gif');
	width: 16px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
}

.KeywordVocabularyTableDeleteRow {
	background-image: url('img/delete.gif');
	width: 16px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
}

.oscarGuiComboBox button.ui-button {
	width: 1.5em;
	height: 1.5em;
}

.oscarGuiComboBox .ui-button {
	margin-left: -1px;
}

.oscarGuiComboBox .ui-button-icon-only .ui-button-text {
	padding: 0;
}

.oscarGuiComboBox .ui-autocomplete-input {
	margin: 0;
	padding: 2px;
}

.oscarGuiComboBox .ui-corner-left {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.oscarControlDataDiscovery {
	width: 300px;
	height: 350px;
	border: none !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: absolute !important;
	top: 50px;
	right: 10px;
}

.oscarControlDataDiscovery .ui-accordion-header.ui-state-active,
	.oscarControlDataDiscovery .ui-accordion-header.ui-state-default {
	background: none !important;
	border: none !important;
	background-color: #fff !important;
}

.oscarControlDataDiscovery .ui-button-text {
	padding: 0px 0px 0px 0px !important;
	font-size: 10px;
}

.oscarControlDataDiscovery .ui-state-active a {
	color: #000 !important;
}

.oscarControlDataDiscovery .ui-state-default a {
	color: #000 !important;
}

.oscarControlDataDiscovery .ui-accordion-content-active {
	background: none !important;
	border: none !important;
}

.oscarControlDataDiscovery input {
	font-size: 10px;
}

.ui-menu-item {
	text-align: left;
}

.ui-menu-item a {
	font-size: 10px;
}

.discoverPanel {
	height: 330px;
}

.oscarControlDataDiscovery.o-widget {
	width: 250px;
	height: 350px;
	border: 1px solid black !important;
	overflow: visible;
}

.oscarControlDataDiscovery.o-widget .content {
	overflow: hidden;
	height: 100%;
}

.searchPanel, .optionsPanel, .queryPanel {
	padding: 0 0 0 0 !important;
	height: 255px !important;
}

.optionsPanel {
	padding: 2px 2px 2px 2px !important;
}

.searchPanel .magnifyingGlass {
	background-image: url("img/search.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 4px;
	margin-top: 2px;
}

.searchPanel input.search {
	float: left;
	font-size: 0.9em;
}

.searchPanel .reset {
	background-image: url("img/toolbarSprites.png");
	background-position: -328px -32px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	float: right;
}

.searchPanel .resultsPanel {
	margin-top: 2px;
	height: 215px;
	overflow: auto;
	padding-left: 2px;
	color: #fff;
	font-size: 10px;
}

.resultsPanel .result {
	cursor: pointer;
	padding: 5px;
	text-indent: 32px;
	border-bottom: 1px solid black;
	position: relative;
}

.result .wfs {
	background-image: url("img/toolbarSprites.png");
	background-position: -457px -49px;
	background-repeat: no-repeat;
	width: 32px;
	height: 15px;
	position: absolute;
	top: 5;
	left: 2;
}

.result.selected {
	background-color: #00f !important;
	color: white;
}

.result .wcs {
	background-image: url("img/toolbarSprites.png");
	background-position: -457px -65px;
	background-repeat: no-repeat;
	width: 32px;
	height: 15px;
	position: absolute;
	top: 5;
	left: 2;
}

.options .info {
	color: #fff;
	font-family: verdana;
	font-size: 11px;
	height: 90px;
	overflow-y: auto;
	padding-left: 2px;
	padding-top: 2px;
	margin-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #fff;
}

.options .info p {
	font-size: 11px !important;
	color: #fff !important;
}

.oscarControlDataDiscovery label.heading, .oscarControlDataDiscovery td.heading,
	.oscarControlDataDiscovery button.heading {
	font-size: 11px !important;
	color: #fff !important;
}

.oscarControlDataDiscovery button.heading {
	color: #000 !important;
}

.buttonsPanel {
	margin-top: 10px;
	text-align: left;
}

.crop {
	width: 31px;
	height: 31px;
	background-image: url("img/toolbarSprites.png");
	background-position: -209px -64px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
}

.crop.active {
	width: 31px;
	height: 31px;
	background-image: url("img/toolbarSprites.png");
	background-position: -273px -64px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
}

.queueDownload {
	width: 31px;
	height: 31px;
	background-image: url("img/toolbarSprites.png");
	background-position: -240px -64px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
}

.dmIFrame {
	display: none;
}

.queuePanel {
	height: 255px !important;
	overflow-y: auto;
	padding: 0 0 0 0 !important;
}

.oscarGuiDownloadWFS, .oscarGuiDownloadWCS {
	background-color: #1f5594;
	z-index: 9999;
	width: 100%;
}

.downloadContainer {
	font-family: arial;
	font-size: 12px;
	color: #fff;
	font-weight: normal;
	height: 36px;
	position: relative;
	width: 100%;
}

.oscarGuiDownloadWFS .dContainer, .oscarGuiDownloadWCS .dContainer {
	width: 110px;
	height: 16px;
	display: block;
	float: right;
}

.downloadCancelled {
	background-image: url('img/delete.gif');
	width: 16px;
	height: 16px;
}

.animatedDownload {
	width: 16px;
	height: 16px;
	background-image: url('img/downloading.gif');
	position: absolute;
	top: 0;
	left: 0;
}

.dmTextContainer {
	white-space: nowrap;
	height: 16px;
	top: 0;
	left: 20px;
	width: 250px;
	overflow: hidden;
	text-indent: 18px;
}

.downloadReady {
	width: 16px;
	height: 16px;
	background-image: url("img/toolbarSprites.png");
	background-position: -441px -32px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.dCoverage {
	background-image: url("img/toolbarSprites.png");
	background-position: -425px -49px;
	background-repeat: no-repeat;
	width: 32px;
	height: 14px;
	cursor: pointer;
	display: inline-block;
}

.dMetadata {
	background-image: url("img/toolbarSprites.png");
	background-position: -393px -49px;
	background-repeat: no-repeat;
	width: 32px;
	height: 14px;
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
	position: relative;
	display: inline-block;
}

.dGML {
	background-image: url("img/toolbarSprites.png");
	background-position: -361px -80px;
	background-repeat: no-repeat;
	width: 32px;
	height: 14px;
	cursor: pointer;
	display: inline-block;
}

.ui-icon-disk-save {
	background-image: url("img/toolbarSprites.png") !important;
	background-position: -361px -49px !important;
	background-repeat: no-repeat !important;
	width: 32px;
	height: 14px;
	display: block;
	cursor: pointer;
	position: absolute;
	right: 0;
}

.ui-dialog {
	padding: 0 !important;
	border: 1px solid black;
	background: url('img/layerToggleBG.png');
}

.ui-dialog-titlebar.ui-widget-header {
	background: url("img/titlebarBackground.png") !important;
	border: none !important;
}

.ui-dialog-title {
	color: #fff !important;
}

.ui-dialog .ui-dialog-content {
	color: #fff;
}

.ui-fields {
	position: absolute;
	top: 0;
	left: 62px;
	z-index: 9999;
	padding: 2px;
	margin: 0;
	display: block;
	float: left;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.olImageLoadError {
	visibility: hidden;
}

.dlgButtonPanel {
	position: absolute;
	bottom: 5px;
	right: 5px;
	text-align: right;
}

.oscarControlMenuBar {
	background: url(img/titlebarBackground.png) repeat-x;
	font-weight: bold;
	color: #fff;
}

.quickLaunchDefault {
	background-image: url('img/toolbarSprites.png');
	background-position: -100px -34px;
	height: 20px;
	width: 20px;
	float: left;
}

.themeLayers {
	border-top: 1px solid #fff;
}

/**
* oscar.Gui.LinkedLists
*/
.oscarGuiLinkedLists {
	font-size: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	background-color: #efeee8;
	position: relative;
	width: 430px;
	height: 225px;
}

.oscarGuiLinkedLists .sourceDiv {
	float: left;
	width: 175px;
	height: 200px;
	border: 1px solid black;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.oscarGuiLinkedLists .sourceDiv, .oscarGuiLinkedLists .selectedDiv {
	background-color: #fff !important;
}

.oscarGuiLinkedLists ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
	width: 100%;
	height: 100%;
}

.oscarGuiLinkedLists li {
	margin: 5px;
	padding: 5px;
	font-size: 1em;
	width: 125px;
	overflow-wrap: break-word;
	overflow: hidden;
	cursor: move;
}

.oscarGuiLinkedLists .ui-sortable-disabled li {
	margin: 5px;
	padding: 5px;
	font-size: 1em;
	width: 125px;
	overflow-wrap: break-word;
	overflow: hidden;
	opacity: 0.5
}

.oscarGuiLinkedLists .sourceText, .oscarGuiLinkedLists .selectedText,
	.oscarGuiLinkedLists .navText {
	float: left;
	width: 175px;
	text-indent: 3px;
	font-size: 12px;
	font-weight: bold;
}

.oscarGuiLinkedLists .navText {
	width: 75px;
}

.oscarGuiLinkedLists .selectedDiv {
	width: 175px;
	height: 200px;
	border: 1px solid black;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.oscarGuiLinkedLists .buttonsDiv {
	float: left;
	vertical-align: text-top;
	width: 75px;
	height: 200px;
}

.oscarGuiLinkedLists button {
	display: block;
	position: relative;
	left: 25%;
	top: 25%;
}

/** Styles for oscar.Gui.CatalogueResults **/
.oscarGuiCatalogueResults {
	height: 100%;
}

.oscarGuiCatalogueResults .ui-layout-pane-north {
	background-color: #fff;
	padding: 5px;
	border:1px solid #ababab;
}

.oscarGuiCatalogueResults .ui-layout-pane-center {
	padding: 5px;
	border:1px solid #ababab;
}

.oscarGuiCatalogueResults .result {
	word-wrap: break-word;
	height: 75px;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
	border-bottom: 1px solid #bbb;
	padding: 5px;
}

.oscarGuiCatalogueResults .result.over {
	background-color: #C9C9C9;
}

.oscarGuiCatalogueResults .result.active {
	background-color: #004580;
}

.oscarGuiCatalogueResults .searchResultInformation {
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
	vertical-align: middle;
	background-color: #efefef;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-top: 6px;
	border: 1px solid #dfdfdf;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	padding-bottom: 6px;
}

.oscarGuiCatalogueResults .result .title, .oscarGuiCatalogueResults .result .abs
	{
	font-family: sans-serif !important;
	font-weight: bold;
	color: #aeaeae;
}

.oscarGuiCatalogueResults .result .abs {
	height: 25px;
	overflow: hidden;
}

.oscarGuiCatalogueResults .result.active .abs {
	color:#fff;
	height: 25px;
	overflow: hidden;
}

.oscarGuiCatalogueResults .result.active .title {
	font-size: 16px !important;
	color: #fff;
	white-space: nowrap;
}

.oscarGuiCatalogueResults .result .title {
	font-size: 16px !important;
	color: #004580;
	white-space: nowrap;
}

.oscarGuiCatalogueResults .title.over, .oscarGuiCatalogueResults .abs.over
	{
	color: #fff;
}

.ui-icon-prepare {
	background-image: url("img/oscar-ui-icons_888888_256x240.png")
		!important;
	background-position: -16px 0px !important;
}
.oscarControlAdvancedSearchForm {
	position:relative;
}

.oscarControlAdvancedSearchForm .advSearchTextArea {
	resize:none;
	width:100%;
	height:42px;
	font-size:14px;
	font-family:Helvetica;
	background-color:#e9e9e9;
}

.oscarControlAdvancedSearchForm .advSearchControls {
	width:100%;
	position:relative;
}

.oscarControlAdvancedSearchForm .advSearchControls .advSearchButtons {
	position:absolute;
	right:0px;
	top:0px;
}
.oscarControlAdvancedSearchForm .advSearchControls .errorDiv {
	color:#003968;
	font-weight:bold;
}


/* What's This button and dialog style definitions */
.oscarGuiInfo {
	display:inline-block;
}

.oscarGuiInfo .ico {
	background-image:url('img/help-icon.png');
	background-repeat:no-repeat;
	width:32px;
	height:32px;
}

.whatsthis-dlg {
	z-index:100;
	background:url('img/dlg-background.png');
	position:absolute;
	padding:5px;
	width:400px;
	height:150px;
}

.whatsthis-dlg .wt-titleBar {
	font-weight:bold;
	font-size:14px;
	border-bottom:1px solid #aaa;
	cursor:move;
}

.whatsthis-dlg .wt-content {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.whatsthis-dlg .wt-content-container {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width:100%;
	height:100%;
	background-color:#e9e9e9;
	padding:5px;
	font-size:12px;
}

.oscar-inline-container {
	display:inline-block;
	vertical-align: middle;
	margin:2px;
}

.ui-slider-handle {
	outline:none;
}